<!DOCTYPE html>
<html lang="en" ng-app="expensesApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="js/app.js"></script>
</head>

<body ng-controller="ExpensesViewController">
    {{name}}
    <h1>{{phrase}}</h1>

    {{expense.description}} - {{expense.amount}}
    <button ng-click="increaseAmount()">Increase Amount</button>
    <div style="margin-top: 50px;">
        <input ng-model="expense.description" type="text">
    </div>
    <div style="margin-top: 50px;">
        <input ng-model="expense.amount" type="number">
    </div>
    <div style="margin-top: 50px;">
        <textarea ng-model="phrase"></textarea>

    </div>
</body>

</html>